@import './function.scss';
@import './variables.scss';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(15) rem(20) rem(28);
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px $label;
  width: 400px;

  &__title {
    font-size: rem(40);
    line-height: rem(18);
    font-weight: bold;
    margin: rem(40) 0;
  }

  &__label {
    margin: rem(20) 0 rem(10) rem(10);
    font-size: rem(16);
    font-weight: bold;
  }

  &__field {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 2px solid $secondary;
    background: rgba($secondary, 0.2);
    border-radius: 2px 2px 0 0;
    padding: rem(10);
    margin-bottom: rem(10);
    color: $secondary;

    &--error {
      border-bottom: 2px solid $error;
    }

    &::placeholder {
      font-size: 12px;
      color: $label;
    }
  }

  &__input-small {
    width: 110px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 8px;
  }

  &__link {
    text-decoration: none;
    color: $secondary;

    &:hover {
      color: $text;
    }
  }

  &__group {
    width: 380px;
    border-radius: 5px;
    border: 1px solid $label;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__icon {
    cursor: pointer;
  }

  &__error {
    font-size: rem(12);
    line-height: rem(12);
    color: $error;
  }

  &__error-container {
    min-height: 20px;
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .form {
    width: 300px;
  }
}

@media (max-width: $layout-breakpoint-small-mobile) {
  .form {
    width: 260px;
  }
}
