.red-snackbar {
  --mdc-snackbar-container-color: #ba1a1a;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.green-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
