.red-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.green-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
