$error: red;
$primary: #e5e5e5;
$secondary: #2169c1;
$label: #828282;
$white: #ffffff;
$text: #000000;
$layout-breakpoint-tablet: 1024px;
$layout-breakpoint-mobile: 425px;
$layout-breakpoint-small-mobile: 320px;
