@import '@styles/function.scss';
@import '@styles/variables.scss';
@import '@styles/common.scss';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  height: 95vh;

  &__form {
    width: 400px;
  }
}
