<div class="schedule" *ngIf="time">
  <ng-container *ngIf="editTimeIndex === i; else showTime">
    <form [formGroup]="timeForm" class="schedule__timeform">
      <div *ngIf="i !== 0">
        Arrival:
        <input type="datetime-local" class="schedule__input" formControlName="arrivalTime" />
      </div>
      <div *ngIf="i !== length - 1">
        Departure:
        <input type="datetime-local" class="schedule__input" formControlName="departureTime" />
      </div>
    </form>
    <mat-icon
      aria-hidden="false"
      class="schedule__save"
      aria-label="Save Icon"
      fontIcon="save"
      (click)="onSaveTime()"
    ></mat-icon>
  </ng-container>
  <ng-template #showTime>
    <div class="schedule__time">
      <p *ngIf="i !== 0">
        Arrival: {{ timeForm.get('arrivalTime')?.value | date: 'yyyy-MM-dd hh:mm a' }}
      </p>
      <p *ngIf="i !== length - 1">
        Departure: {{ timeForm.get('departureTime')?.value | date: 'yyyy-MM-dd hh:mm a' }}
      </p>
    </div>
    <mat-icon
      aria-hidden="false"
      class="schedule__icon"
      aria-label="Edit Icon"
      fontIcon="edit"
      (click)="onUpdateTime(i)"
    ></mat-icon>
  </ng-template>
</div>
