<div class="dialog">
  <h2 mat-dialog-title class="dialog__title"><mat-icon>lock</mat-icon>Change Password</h2>
  <button mat-icon-button class="dialog__close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content class="dialog__content">
    <p class="dialog__content__title">New Password</p>
    <mat-form-field class="dialog__content__input small" appearance="outline">
      <input matInput type="text" [(ngModel)]="newPassword" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog__actions">
    <button
      mat-flat-button
      class="dialog__actions__save-btn"
      [mat-dialog-close]="newPassword"
      cdkFocusInitial
      (click)="onSaveNewPassword()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
