<div class="route">
  <div *ngIf="(formState$ | async)?.editMode !== 'create' && !(isLoading$ | async)">
    <app-create-button (clickOnButton)="openForm()"></app-create-button>
  </div>
  <app-route-panel>
    <app-route-form
      *ngIf="!(isLoading$ | async)"
      [editMode]="(formState$ | async)?.editMode || 'create'"
      [routeForUpdating]="(formState$ | async)?.route || null"
    />
  </app-route-panel>
  <div class="route__spinner" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div class="route__error" *ngIf="error$ | async">
    <p>{{ error$ | async }}</p>
  </div>
  <ng-container *ngIf="!(isLoading$ | async) && !(error$ | async)">
    <ng-container *ngTemplateOutlet="routes"></ng-container>
  </ng-container>
  <ng-template #routes>
    <ul>
      <li *ngFor="let route of routesWithStationsAndCarriages$ | async">
        <app-route-item
          [item]="route.route"
          [carriagesName]="route.carriageName"
          [stationsName]="route.stationName"
        ></app-route-item>
      </li>
    </ul>
  </ng-template>
</div>
