<div class="route__form route">
  <form [formGroup]="routesForm" class="route__form">
    <div class="route__form__column">
      <h2 class="route__form__header">Stations</h2>
      <span class="route__form__subheader">*min 3 stations</span>
      <div formArrayName="selectStations" class="route__form__fields">
        <div *ngFor="let station of stations.controls; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>Select station</mat-label>
            <mat-select
              class="route__form__select"
              [formControlName]="i"
              (selectionChange)="onStationsChange(i)"
            >
              <mat-option
                *ngFor="let station of filteredStationOptionsMap[i] | async"
                [value]="station.id"
              >
                {{ station.city }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="route__form__column">
      <h2 class="route__form__header">Carriages</h2>
      <span class="route__form__subheader">*min 3 carriages</span>
      <div formArrayName="selectCarriages" class="route__form__fields">
        @for (carriage of carriages.controls; let i = $index; track carriage) {
          <mat-form-field appearance="outline">
            <mat-label>Select carriage</mat-label>
            <mat-select
              class="route__form__select"
              [formControlName]="i"
              (selectionChange)="onCarriagesChange(i)"
            >
              @for ((carriage of carriages$| async); track carriage) {
                <mat-option [value]="carriage.code">{{ carriage.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </div>
    </div>
  </form>
  <button
    class="route__form__button"
    mat-flat-button
    [disabled]="!routesForm.valid"
    (click)="onSubmit()"
  >
    Save
  </button>
</div>
