@import '@styles/variables.scss';

.carriage__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;

  &__field {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__button {
    margin-top: 25px;
  }
}
