<mat-card class="stations-list">
  <mat-card-content>
    <div class="travel-card">
      <div class="time-route-wrapper">
        <p>Ride {{ way.rideId }}</p>
        <div class="time-info">
          <div class="departure-time">
            <span class="time">{{ departureTime | date: 'HH:mm' : '0' }}</span>
            <span class="date">{{ departureTime | date: 'MMMM d' : '0' }}</span>
            <span class="city">{{ fromCity.city }}</span>
          </div>
          <div class="travel-duration">
            <img class="dleft" src="assets/durationl.svg" alt="" width="70" />
            <span class="duration"> {{ duration }} </span>
            <img class="dright" src="assets/durationr.svg" alt="" width="70" />
          </div>
          <div class="arrival-time">
            <span class="time">{{ arrivalTime | date: 'HH:mm' : '0' }}</span>
            <span class="date">{{ arrivalTime | date: 'MMMM d' : '0' }}</span>
            <span class="city">{{ toCity.city }}</span>
          </div>
        </div>

        <div class="route-info">
          <div class="route">
            <img class="train" src="assets/train.svg" alt="" height="30" />
            <span>{{ middleStations.second }} → {{ middleStations.penult }}</span>
          </div>
          <button mat-button class="route-link" (click)="openDialog()">Route</button>
        </div>
      </div>

      <div class="price-info">
        @for (cp of carriagePrices; track cp.type) {
          <div class="price" (click)="selectTrip()">
            <span class="class-type">{{ cp.type }}</span>
            <span class="seats">{{ cp.seats }} seats</span>
            <span class="price-amount">${{ cp.price }}</span>
          </div>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
