<div class="carriage__schema schema" *ngIf="carriage">
  <div class="schema__right" [style.--columns]="numberOfRows">
    <div *ngFor="let column of rightSeatsInRows">
      <app-trip-seat
        *ngFor="let seat of column"
        [seat]="seat"
        [isDisabled]="this.isDisabled"
      ></app-trip-seat>
    </div>
  </div>
  <div class="schema__aisle"></div>
  <div class="schema__left" [style.--columns]="numberOfRows">
    <div *ngFor="let column of leftSeatsInRows">
      <app-trip-seat
        *ngFor="let seat of column"
        [seat]="seat"
        [isDisabled]="this.isDisabled"
      ></app-trip-seat>
    </div>
  </div>
</div>
