<div class="dialog">
  <h2 class="dialog__title" mat-dialog-title>Cancel order</h2>
  <mat-dialog-content class="dialog__content">
    <p *ngIf="data.user.role === 'manager'">
      Would you like to cancel order №{{ data.orderId }} of user {{ data.user.name }}?
    </p>
    <p>Would you like to cancel your order?</p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog__actions">
    <button class="dialog__actions__close-btn" (click)="onClickNo()">No</button>
    <button class="dialog__actions__cancel-btn" (click)="onClickYes()">Yes</button>
  </mat-dialog-actions>
</div>
