::ng-deep .panel-item.active .mdc-list-item__primary-text {
  color: #007bff;
  font-weight: bold;
}

::ng-deep .panel-item .mdc-list-item__primary-text:hover {
  font-weight: bold;
}

.admin-container {
  display: flex;

  .admin-left-side {
    width: 200px;
    height: 100vh;
    background-color: #e9e9e9;

    .admin-panel {
      margin-top: 10px;
      width: 100%;
      background-color: #e9e9e9;
      align-content: center;

      .panel-item {
        cursor: pointer;
      }

      mat-divider {
        border-top-color: #ccc;
        margin: 0 auto;
        width: 80%;
      }
    }
  }
}
