<mat-card class="user-profile">
  <mat-card-header class="user-profile__header">Profile</mat-card-header>
  <mat-card-content class="user-profile__content">
    <p class="user-profile__content__role">My Role</p>
    <button class="user-profile__content__change-btn edit-btn" type="button">
      Change password
    </button>
    <p class="user-profile__content__text-title">Name:</p>
    <app-edit-name-form
      [userNameForm]="userNameForm"
      [userName]="userName"
      (nameChanged)="onNameChanged($event)"
    >
    </app-edit-name-form>

    <p class="user-profile__content__text-title">Email:</p>
    <app-edit-email-form
      [userEmailForm]="userEmailForm"
      [userEmail]="userEmail"
      (emailChanged)="onEmailChanged($event)"
    >
    </app-edit-email-form>
    <button class="user-profile__content__logout-btn" type="button">Logout</button>
  </mat-card-content>
</mat-card>
