<mat-card class="stations" *ngFor="let station of stations">
  <mat-card-header class="stations__header">{{ station.city }}</mat-card-header>
  <mat-card-content class="stations__content">
    <div class="stations__content__container">
      <p class="stations__content__container__text">
        Latitude: {{ station.latitude }}, Longitude: {{ station.longitude }}
      </p>
      <p class="stations__content__container__text-title">Connected to:</p>
      <p class="stations__content__container__text">
        <span *ngFor="let connection of station.connectedTo; let isLast = last">
          {{ getCityNameById(connection.id) }}
          <span *ngIf="!isLast">, </span>
        </span>
      </p>
    </div>
    <button class="stations__content__delete-btn" type="button" (click)="deleteStation(station.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
