.stations__page {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__map-form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    &__map {
      width: 43.75rem;
      height: 25.625rem;
      position: relative;

      mat-spinner {
        position: absolute;
        top: 35%;
        left: 40%;
        z-index: 10;
      }

      &__spinner {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__stations-list {
    margin-top: 1rem;
    overflow-y: auto;
  }
}
