<div class="stations__page">
  <div class="stations__page__map-form">
    <app-station-map
      [stations]="stations"
      (locationSelected)="onLocationSelected($event)"
    ></app-station-map>
    <app-station-form
      [formGroup]="stationsConnectedForm"
      [locationData]="selectedLocation"
      (stationAdded)="onAddStation($event)"
    >
    </app-station-form>
  </div>
  <div class="stations__page__stations-list">
    <app-station-list (stationDeleted)="onDeleteStation($event)"></app-station-list>
  </div>
</div>
