@import './../../../core/styles/variables.scss';

.item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px $divider;

  &__header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
  }

  &__icon {
    color: $text;
  }
}
