<div *ngIf="ride" class="ride">
  <div class="schedule__norides" *ngIf="ride.schedule.length === 0">
    There is no rides for this route
  </div>
  <div *ngIf="ride.schedule.length !== 0">
    <div *ngFor="let schedule of ride.schedule" class="ride__schedule schedule">
      <div class="schedule__header">
        <h3 class="schedule__title">Ride {{ schedule.rideId }}</h3>
        <mat-icon
          aria-hidden="false"
          class="schedule__icon"
          aria-label="Delete Icon"
          fontIcon="delete"
          (click)="onDelete('5ms', '5ms', schedule.rideId)"
        ></mat-icon>
      </div>
      <div *ngFor="let segment of schedule.segments; let i = index" class="schedule__segment">
        <div class="schedule__name">{{ (rideStations$ | async)?.[i] }}</div>
        <div class="schedule__time">
          <app-ride-time
            [time]="segment.time"
            [i]="i"
            [length]="schedule.segments.length"
            [ride]="this.ride"
            [rideId]="schedule.rideId"
          ></app-ride-time>
        </div>
        <div *ngIf="i !== schedule.segments.length - 1" class="schedule__price">
          <app-ride-price
            [price]="segment.price"
            [i]="i"
            [length]="schedule.segments.length"
            [ride]="this.ride"
            [rideId]="schedule.rideId"
          ></app-ride-price>
        </div>
      </div>
    </div>
  </div>
</div>
