<div *ngIf="ride" class="ride">
  <div *ngFor="let schedule of ride.schedule" class="ride__schedule schedule">
    <h3 class="schedule__title">Ride {{ schedule.rideId }}</h3>
    <div *ngFor="let segment of schedule.segments; let i = index" class="schedule__segment">
      <div class="schedule__name">Name</div>
      <div class="schedule__time">
        <p *ngIf="i !== 0">Arrival: {{ segment.time[1] | date: 'yyyy-MM-dd hh:mm a' }}</p>
        <p *ngIf="i !== schedule.segments.length - 1">
          Departure: {{ segment.time[0] | date: 'yyyy-MM-dd hh:mm a' }}
        </p>
      </div>
      <div class="schedule__time__column">
        <p class="schedule__subtitle">Price</p>
        <div *ngFor="let key of getKeys(segment.price)" class="schedule__price">
          <p>{{ key }}</p>
          <p>-</p>
          <p>{{ this.getValue(segment.price, key) | currency: 'USD' : 'symbol' : '1.0-0' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
