<div class="login">
  <h1 class="form__title">Sign In</h1>
  <form [formGroup]="loginForm" class="login__form form">
    <label for="email" class="form__label">Email</label>
    <input
      class="form__input"
      id="email"
      type="text"
      autocomplete="on"
      [ngClass]="{ 'form__input--error': isSubmitted && email?.invalid && email?.touched }"
      formControlName="email"
    />
    <div *ngIf="isSubmitted && email?.invalid && email?.touched">
      <p *ngIf="email?.hasError('required')" class="form__error">Required</p>
      <p *ngIf="email?.hasError('pattern')" class="form__error">Incorrect email</p>
      <p *ngIf="email?.hasError('serverError')" class="form__error">Incorrect email or password</p>
    </div>
    <label for="password" class="form__label">Password</label>
    <input
      id="password"
      class="form__input"
      type="password"
      [ngClass]="{ 'form__input--error': isSubmitted && email?.invalid && email?.touched }"
      formControlName="password"
    />
    <div *ngIf="isSubmitted && password?.invalid && password?.touched">
      <p *ngIf="password?.hasError('space')" class="form__error">Required</p>
      <p *ngIf="email?.hasError('serverError')" class="form__error">Incorrect email or password</p>
    </div>
    <div class="form__controls">
      <button mat-flat-button [disabled]="loginForm.invalid || isSubmitting" (click)="onSubmit()">
        Sign In
      </button>
      <a class="form__link" routerLink="/signup">Sign Up</a>
    </div>
  </form>
</div>
