@import './../../../core/styles/variables.scss';

::ng-deep .mdc-text-field--filled {
  background-color: $text-active !important;
  border-radius: 0.25rem !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $text !important;
  letter-spacing: 0.025rem;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple {
  display: none;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid {
  border: 1px solid $error !important;
}

::ng-deep .mat-mdc-form-fieldn:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
  height: 0rem;
}

::ng-deep .mat-form-field {
  font-size: 0.75rem;
}

mat-form-field.small {
  --mat-form-field-container-height: 2.19rem;
  --mat-form-field-container-vertical-padding: 0.13rem;
}

.form__container {
  width: 18.75rem;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    mat-form-field {
      width: 80%;

      mat-error {
        margin-top: -0.2rem;
        font-size: 0.625rem;
      }
    }

    .connected__cities {
      &__header {
        display: flex;
        gap: 0.625rem;

        p {
          font-weight: bold;
        }

        &__add-btn {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;

          mat-icon {
            font-size: 1.5rem;
            color: $secondary;
          }
        }
      }

      &__controls {
        max-height: 11.25rem;
        overflow-y: auto;
      }
    }

    &__save-btn {
      width: 80%;
      height: 2.5rem;
      cursor: pointer;
    }
  }
}
