::ng-deep .mdc-text-field--filled {
  background-color: #007bff !important;
  border-radius: 4px !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #000 !important;
  letter-spacing: 0.4px;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple {
  display: none;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid {
  border: 1px solid red !important;
}

::ng-deep .mat-mdc-form-fieldn:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
  height: 0rem;
}

::ng-deep .mat-form-field {
  font-size: 12px;
}

mat-form-field.small {
  --mat-form-field-container-height: 35px;
  --mat-form-field-container-vertical-padding: 5px;
}

.form-container {
  width: 300px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    .form-title {
      font-size: 16px;
    }

    mat-form-field {
      width: 80%;

      mat-error {
        margin-top: -0.2rem;
        font-size: 10px;
      }
    }

    p {
      font-weight: bold;
    }

    .save-btn {
      width: 80%;
      height: 40px;
      cursor: pointer;
    }
  }
}
