.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  &__title {
    display: flex;
    align-items: flex-end;
  }

  &__subtitle {
    font-size: 24px;
  }

  &__button {
    width: 30px;
    height: 50px;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
  }
}
